<!-- base html --!> 
<html>
  {% block head %}
    <head>
      <meta charset='UTF-8'>
      <link rel='stylesheet' href='{{ STATIC_URL }}bootstrap/css/bootstrap.min.css'/>
      <link rel='stylesheet' href='{{ STATIC_URL }}css/asset.css'/>
      <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
      <script src="{{ STATIC_URL }}My97DatePicker/WdatePicker.js"></script>
      <script src="{{ STATIC_URL }}js/add_dev.js"></script>
      <script src="{{ STATIC_URL }}js/echarts.js"></script>
      <title>{% block title %}{% endblock %}</title>
    </head>
  {% endblock %}
  {% block body %}
    <body>
      {% block menus %}
        <div class="navbar navbar-inverse">
           <div class="navbar-header">
             <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a href="../" class="navbar-brand"></a>
           </div>
           <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
             <ul class="nav navbar-nav">
               <li>
                 <a href="/ui">系统首页</a>
               </li>

              {%if user.get_profile.parts_edit %}
               <li>
                 <a href="/ui/stock">库存</a>
               </li>
               <li class="dropdown ">
                 <a class="dropdown " role="button" href="#" data-toggle="dropdown">新建<b class="caret"></b></a>
                   <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
                     <li class="dropdown " role="presentation"><a  href="#" data-toggle="modal" data-target="#add_part">添加配件</a></li>
                     <li class="dropdown " role="presentation"><a  href="#" data-toggle="modal" data-target="#add_device">添加设备</a></li>
                     <li class="dropdown " role="presentation"><a  href="#" data-toggle="modal" data-target="#add_user">添加用户</a></li>
                   </ul>
               </li>
               <li>
                 <a name="export">导出</a>
               </li>
              {% endif %}
              {% if user.get_profile.asset_edit %}
                <li class="dropdown " role="presentation"><a  href="#" data-toggle="modal" data-target="#add_asset">添加固资</a></li>
              {% endif %}
               <!--
               <li>
                 <a href="#">使用手册</a>
               </li>
              {% ifequal 1 1 %}
                <li>
                </li>
              {% endifequal %}
               <li>
                 <a class="dropdown " role="button" href="#" data-toggle="dropdown">流程图<b class="caret"></b></a>
                   <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
                     <li class="dropdown " role="presentation"><a href="/business/process">产品申请流程</a></li>
                   </ul>
               </li>
               -->

             </ul>
             <ul class="nav navbar-nav navbar-right">
               <li>
                 <a class="glyphicon glyphicon-user" style="color:#999;" ></a>
               </li>
               <li>
                 <a>{{user}}</a>
               </li>
               <li>
                 <a href="/logout" class="glyphicon glyphicon-log-out" style="color:#999;" title="注销"></a>
               </li>
               <li>
                 <a></a>
               </li>
             </ul>
           </nav>
        </div>
      {% endblock %}
      <!-- endmenu --!> 
      <!-- contents --!>
      {% block contents %}
        <div class='container'>
          {% block search_business%}
            <!--<div class="business-search">
              <input type="text" name='seach_value' id='searchword' placeholder="固资">
              <input type='button' class='btn btn-info' onclick="search_business()" id='btn-search' value='搜索' />
              <button type='button' class='btn btn-primary pull-right' data-toggle="modal" data-target="#add_asset">添加配件</button>
            </div>
            {%
            <div class='btn-group search-business'>
              <button class='btn btn-info'>未开始</button>
              <button class='btn btn-info'>进行中</button>
              <button class='btn btn-info'>已结束</button>
            </div>
            %}-->
          {% endblock %}
          {% block business_show%}
            <!-- 项目信息 -->
          {% endblock %}
          {% block bottom %}
            <div class="footer-pagination">
              <ul class='pagination'>
                <li><a href="?page={{ contacts.index}}">首页</a></li>
                {% if contacts.has_previous %}
                  <li class='disable'><a href='?page={{contacts.previous_page_number}}'>上一页</a></li>
                {% else %}
                  <li class='disable'><a href=''>上一页</a></li>
                {% endif %}
                  <li class="disable"><a>{{contacts.number}}/{{pages.num_pages}}</a></li>
                {% if contacts.has_next %}
                  <li class='disable'><a href='?page={{ contacts.next_page_number }}'>下一页</a></li>
                {% else %}
                  <li class='disable'><a href=''>下一页</a></li>
                {% endif %}
                <li class='disable'><a href="?page={{contacts.paginator.num_pages}}">末页</a></li>
              </ul>
            </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% include 'ui/modal/new_asset.html' %}
      {% include 'ui/modal/new_part.html' %}
      {% include 'ui/modal/new_device.html' %}
      {% include 'ui/modal/new_user.html' %}
      {% include 'ui/modal/bind_user.html' %}
      <!--
      {% include 'ui/modal/new_project.html' %}
      {% include 'ui/modal/delay.html' %}
      {% include 'ui/modal/add_product.html'%}-->
      <script src="{{ STATIC_URL }}js/asset.js"></script>
    </body>
  {% endblock %}
</html>

