{% extends 'ui/base.html' %}
{% load re_dict_len %}
{% block title %}
    库存
{% endblock %}
{% block contents %}
    {%  block search_business %}
    {% endblock %}
    {% block business_show %}
    <div class="container">
        <div id="stock" class="row">
        <table class="table table-bordered">
        {% for key,values in boms_count.items %}
          {% for k,v in values.items%}
        <tr>
          <th class="col-sm-3"   >{{ key }}</th>
              <td>
                {{ k }}
              </td>
              <td>
              {% for i in v %}
                <span>{{i}}</span>
              {% endfor %}
              </td>
        </tr>
          {% endfor%}
        {% endfor %}
        </table>
        </div>
    </div>
    {% endblock %}
{% endblock %}
