.containe{
  width:100%;
}
.search-business{
  margin-top: 10px;
}
.footer-pagination{
  text-align: center;
}
.business-search{
  margin-top: 20px;
}
#searchword{
  height: 31px;
}
#user_password{
  margin-left: 2px;
}
#id_approval_models{
  width:400px
}
.firstlayer{
  margin:auto;
  border:0px;
  width:90%;
}
.firstrlayer{
  height:50px;
}
.secondlayer{
  width:100%;
  height:50px;
}
.business_info{
  text-align:center;
}
.search-device-mark{
  width: 124px;
  height: 20px;
}
.form_class{
  width:171px;
  height:32px;
}
#searchmark{
  width: 51px;
  height: 21px;
  padding-top: 0px;
  padding-bottom: 1px;
  border-top-width: 0px;
}
.active-model{
  float:left;
  }
ul{
  padding-left:0px;
  list-style-type:none;
  }
.modal-footer{
  clear:both;
}
body{
  background:#A8A8A8;
    }
table th{
  width:10%
}
th {
  color:white;
}
.glyphicon{
  padding-right: 24px;
}
select{
  width: 53px;
  height: 34px;
}
