<div id="add_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="myModalLabel">新建用户</h3>
      </div>
      <div class="modal-body">
        <form role="form" action="/ui/" method="post">{% csrf_token %}
          {% for field in cus_form %}
            <div class="form-group">
              <label class="col-sm-3 control-label">{{field.label_tag|striptags}}</label>
              <div class="clo-sm-10">
                {{ field }}
              </div>
            </div>
          {% endfor %}
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" type="submit">添加</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

